@import '../../styles/colors.scss';

.field {
  position: relative;
}

.label {
  color: $grey-light;
  color: $white;
  position: absolute;
  width: 100%;
  left: 12px;
  top: 33.33333%;
  transition: top 150ms ease-in-out, font-size 200ms;
}

.input {
  font-size: 1.3em;
  border-radius: 6px;
  height: 23px;
  min-width: 200px;
  padding: 22px 12px 12px;
  background-color: $grey;
  border: 1px solid $green;
  color: $white;

  &:focus+.label, &.hasValue+.label {
    font-size: 60%;
    top: 10%;
  }
}
