@use './fonts.scss';

@import './colors.scss';

input, button {
  outline: none;
}

label {
  pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $grey;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
