@import '../../styles/colors.scss';

.wrapper {
  color: $white;
  width: fit-content;
  margin-left: auto;
}

.title {
  font-size: 12px;
}

.window {
  min-width: 250px;
  font-size: 0.8em;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
  height: 46px;
  width: fit-content;
  padding-bottom: 8px;
  box-sizing: border-box;
  background-color: $grey;
  margin-top: 10px;
}

.value {
  position: relative;
  padding: 0 16px;
  display: inline-block;

  &::after {
    content: '$';
  }

  &::before {
    color: $grey-light;
    font-size: 60%;
    position: absolute;
    top: -14px;
  }

  &.network::before {
    content: 'Network fee';
  }
  &.c14::before {
    content: 'C14 fee';
  }
  &.total::before {
    content: 'Total fee';
  }
}