@import '../../styles/colors.scss';

.window {
  width: 400px;
  height: auto;
  padding: 32px;
  box-sizing: border-box;
  background-color: $black;
  color: $white;
  border-top: 3px solid $green;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.withMargin {
  width: 100%;
  margin: 16px 0;
}

.button {
  margin-top: 48px;
}

.centered {
  display: flex;
  justify-content: center;
}